:root {
    --teamRed: #b00c0c;
    --teamBlue: #063eb8;
}

.bingo-body {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.team-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    min-height: 80%;
    --teamColor: #333333;
    background: var(--teamColor);
}
.team-box > p {
    margin: .2em .5em;
    font-size: 110%;
}

#teamNeutral {
    flex-direction: row;

    min-height: 0;
    min-width: 80%;

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
#teamNeutral > p {
    margin: .5em 1em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    align-content: center;
    flex-grow: 1;
    height: 80%;

    margin: auto 7em;
    text-align: center;
}
.grid > * {
    align-content: center;

    margin: .3em;
    border: var(--outlineThickness) solid var(--background-dark);
    padding: .5em 1em;

    --lg-angle: 150deg;
    --lg-length: 5em;
    --lg-opacity: 40%;
    
    --overlay: linear-gradient(transparent);
    border-radius: var(--border-radius);
    background: var(--overlay), var(--background-dark);
    text-shadow: black .2em .2em .1em;

    animation-name: animateCounter;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.grid > *:hover:not(:disabled), .grid > *:active:not(:disabled){
    outline-color: var(--neon-blue);
    border-color: var(--neon-pink);
    animation-name: outlineHover, animateCounter;
}

.score{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}

.score div{
    font-size: 20px;
    display: flex;
    padding: 10px;
}

dialog:modal {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: auto;
    background: transparent;
}
dialog > * { margin: auto; }
dialog > * > *:nth-child(2) > * { margin: 0em 1em; }

@property --animationCounter {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
}
@keyframes animateCounter {
from {
    --animationCounter: 0;
}
to {
    --animationCounter: 1;
}
}