<!DOCTYPE html>
<html lang="frc">
    <head>
        <meta charset="UTF-8">
        <title>Bingo Spoon 3</title>
{#        <meta name="viewport" content="width=device-width, initial-scale=1" />#}
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
        <script type="module" src="/static/script/bingo.js"></script>
        <link rel="stylesheet" href="/static/css/global.css">
        <link rel="stylesheet" href="/static/css/bingo-style.css">
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
    </head>
    <body>
        <header>
            <h1>Bingo Spoon 3</h1>
        </header>

        <div class="bingo-body">
            <div
                id="teamRed"
                class="team-box"
                style="
                    --teamColor: var(--teamRed);
                    border-top-right-radius: var(--border-radius);
                    border-bottom-right-radius: var(--border-radius);
                "
            ></div>

            <div id="bingoGrid" class="grid">
                {% for challenge in bingo %}
                    <button>{{ challenge.text }}</button>
                {% endfor %}
            </div>

            <div
                id="teamBlue"
                class="team-box"
                style="
                    --teamColor: var(--teamBlue);
                    border-top-left-radius: var(--border-radius);
                    border-bottom-left-radius: var(--border-radius);
                "
            ></div>

        </div>
        <div id="teamNeutral" class="team-box"></div>

        <dialog id="challengeDialog">
            <div>
                <div class="box" style="flex-direction: column;">
                    <h2>Confirmer la complétion de l'épreuve</h2>
                    <div id="challengeDialogText">texte</div>
                </div>
                <div style="display: flex; margin-top: 1em;">
                    <div style="flex-grow: 1;"></div>
                    <button id="challengeDialogClose">Fermer</button>
                    <button id="challengeDialogUnchallenge">Départiciper</button>
                    <button id="challengeDialogCheck">Faire Valider</button>
                    <div style="flex-grow: 1;"></div>
                </div>
            </div>
        </dialog>

        <div id="notificationElem" class="box notification" style="display: none;">
        </div>
    </body>
</html>