<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request</title>
    <link rel="stylesheet" href="/static/css/requests-style.css">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script type="module" src="/static/script/requests.js"></script>
</head>
<body>
    <div id="requests" class="grid">
        {% for request in requests %}
            <div class="request {{  request.team }}">
                <p>Team : {{ request.team }}</p>
                <p>Défi : {{ bingo[request.index].text }}</p>
                <div class="buttons">
                    <button id="{{ request.index }}" class="check" value="{{ request.team }}">Valider</button>
                    <button id="{{ request.index }}" class="refuse" value="{{ request.team }}">Refuser</button>
                </div>
            </div>
        {% endfor %}
    </div>

</body>
</html>